body {
    min-height: 100vh;
    background-color: #444;
    color: #eee;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.some-space {
    height: 5vh;
    background-color: darkblue;
}

.dev {
    outline: green solid 1px;
}

.dev * {
    outline: red solid 1px;
}

/*##################################################*/
.square_1 {
    width: 25vw;
    height: 25vw;
}

/*##################################################*/