/*
@import url("//borg.home/BorgToolKit/code_examples/css-total.css");
*/

/* region VARS */
:root {
    --corporate-gradient-danger: 0deg, #f00 0%, black 100%;

    --col-w-100: #fff;
    --col-w-50: #bbb;
    --col-w-0: #999;

    --col-b-100: #000;
    --col-b-50: #222;
    --col-b-0: #444;
    
    --bg-default: var(--col-b-50);
        --txt-default: var(--col-w-50);

    --bg-selection: #0000ff;
        --txt-selection: var(--col-w-100);

    --bg-disabled: #555;

    --bg-active: none #146600;

    --link-bg: linear-gradient(180deg, #1b06a2 0%, #4e41a2 50%) #7b66ff;
    --link-bg-hover: none  rgba(0, 38, 95, .9);
    --link-bg-visited: none purple;


    --bg-pre: var(--col-b-100);
        --txt-pre: #00cf00;

    /* FORM */
    --bg-button: #a85600ee;

    --bg-input: #9cffed;

    --bg-select: rgb(124, 238, 107);
        --bg-select-hover: blue;
            --bg-select-checked: green;
}
/* endregion VARS */
/* region GLOBAL */
html
, body
, div
, h1
, h2
, h3
, h4
, ul
, ul li
, dl
, fieldset
, legend
, p
, span
, aside
, header
, content
, footer
, main
, section
, nav
, sl-details
, small
, label
, form
, #header
, #content
, #footer
, [class*=crayon] *
{
    background-color: var(--bg-default) !important;
    color: var(--txt-default) !important;
    opacity: 1;

    & *::selection {
        background-color: blue !important;
        color: #fff !important;
    }

    pre
    , code
    , pre *
    , code *
    , blockquote
    , blockquote *
    , *[class*=code]
    , *[class*=code] span
    {
        background-color: var(--bg-pre) !important;
        color: var(--txt-pre) !important;
        background-image: none !important;
    }
}

:after
, :before
{
    opacity: 1 !important;
}
/* region LINKS ANCHORS */
a 
{
    background: var(--link-bg) !important;
    color: var(--col-w-100) !important;

    & * {
        background: none transparent !important;          
        color: var(--col-w-100) !important;
    }
}

a:hover
, button:hover
, .btn:hover
, [class*=btn]:hover
, a[class*=link]:hover
{
    background: var(--link-bg-hover) !important;
    color: var(--col-w-100) !important;

    & * {
        background: var(--link-bg-hover) !important;
        color: var(--col-w-100) !important;
    }
}

.active
, .selected
, .active>a
, a:active
, a.active
, a.selected
, [class*=active]
, .active-table-line
{
    background: var(--bg-active) !important;
    color: var(--col-w-100) !important;
}
/* endregion LINKS ANCHORS */
/* endregion GLOBAL */
/* region CSS ADDON */
.ucss-panel
{
    outline: #846593 10px solid ;
    background-color: var(--bg-default);
    color: var(--col-w-100) ;
}
/* endregion CSS ADDON */

/* region FORM */
input
, input.form-control
, * input.checkbox
, input[type=checkbox]
, input[type=radio]
, textarea
, textarea.form-control
{
    background-color: var(--bg-input);
    color: var(--col-b-50) ;
}

select
, select.form-control
, .select2
, .select2 *
, .select2-container
, .select2-container *
, .select2-selection__rendered
, .select2-selection__rendered *
, .select2-selection
, .select2-selection--single
{
    background-color: var(--bg-select) !important;
    color: #222 !important;

    & option:hover
    , & li:hover
    , & li.select2-results__option--highlighted
    {
        background-color: var(--bg-select-hover) !important;
    }
    & option:checked
    , & li.select2-selection__choice
    {
        background-color: var(--bg-select-checked) !important;
    }
}

button
, [type=button]
, [type=submit]
, .icon
, [class*=icon]
, .icon-only
, .btn
{
    opacity: 1 !important;
    border-color: var(--bg-button) !important;
    outline-color: var(--bg-button) !important;
    background-color: var(--bg-button) !important;
    color: var(--col-w-100) !important;

    & * {
        opacity: 1 !important;
        background-color: var(--bg-button) !important;
        background-image: inherit !important;
        background-attachment: inherit !important;
        color: var(--col-w-100) !important;
    }
}

*:disabled
, .disabled
, .disabled *
, .inactive
, .inactive *
, .form-control.disabled
, .form-control .disabled
, .form-control[disabled=disabled]
, .form-control[readonly]
{
    background-color: var(--col-w-0) !important;
    color: var(--col-b-100) !important;
}
/* endregion FORM */

/* region table */
table
, thead
, tbody
, tfoot
, tr
{
    background-color: #222 !important;
    color: var(--col-w-0) !important;
}

td 
, th
{
    background-color: transparent !important;
    opacity: 1;
}

tr:hover
, tr:hover td
, tr:hover th
, tr:hover tf
{
    background-color: var(--col-b-0) !important;
    color: var(--col-w-0) !important;
    opacity: 1 !important;
}
/* endregion table */

/* region ERROR */
[class*=error]
, [class*=Error]
, [class*=not-valid]
, [class*=invalid]
, [class*=danger]
, [class*=warning]
{
    background-color: rgb(164, 0, 0) !important;
    color: yellow !important;
}
/* endregion ERROR */

/* region SPECIFIC */
.issue
, div.issue
, div.issue *:not(a, input, textarea, select, button, .select2 *)
{
    background-color: #490076 !important;
    color: var(--col-w-50)
}

.subject {
    padding: 15px;
    font-weight: bold;
}

.journal {
    margin-top: 100px;
    padding: 15px 0; 
    background-color:var(--col-b-100) !important;
    & *:not(a, button, select, textarea) {
        background-color:var(--col-b-100) !important;
        color: var(--col-w-0)
    }
}

.white-bg
, .gray-bg
{
    background-color: #333;
}
/* endregion SPECIFIC */